<!-- Footer -->
<footer class="text-center">
    <div class="footer-color-one">
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1 text-center" id="intouch">

            </div>
        </div>
    </div>
    <div class="footer-color-two">
        <div class="container">
            <div class="row regular-content-size">
                <div class="col-md-8 col-md-offset-2 footer-links-block">
                    <ul class="list-inline footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="index.html">All Rides</a></li>
                        <li><a href="#">Submit a Ride</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-8 col-md-offset-2 footer-links-block">
                    <ul class="list-inline footer-links">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Language</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-color-three">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="small">Website design &#38; content © copyright 2015 eZ Systems. This website was made
                        with eZ Platform</p>
                </div>
            </div>
        </div>
    </div>
</footer>
